body {
    background-image: url(/img/background-img.jpg);
    background-size: 125%;
    font-family: Bell MT;
}

#main {
    background-color: #FDF5E6;
    font-style: italic;
    width: 800px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

img {
    width: 700px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border: 5px none;
    box-shadow: 5px 5px 5px black;
}

#img-div {
    margin: 0 auto;
    text-align: center;
}

#img-caption {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

#title {
    text-align: center;
    font-family: Garamond;
    font-size: 40px;
    border: 5px solid;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
}

ul {
    max-width: 550px;
    margin: 0 auto;
}

li {
    margin: 15px auto;
    line-height: 1.5;
}

a {
    text-align: center;
}

h3 {
    margin: 40px 70px;
    max-width: 100%;
}

hr {
    width: 70%;
}